* {
  margin: 0;
  font-family: ubuntu;
}

.App {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background: #1e3750;
  min-width: 200px;
  top: 0;
  bottom: 0;

  z-index: 1;
}

.dashboard h2 {
  text-align: center;
  margin-top: 20px;
}
.dashboard {
  width: 100%;
}

.dashboard-input {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.dashboard-input > button {
  margin-left: 20px;
  width: auto;
  height: 30px;
  background-color: rgb(41, 108, 163);
  border-color: rgb(41, 108, 163);
  border-radius: 12px;
  color: white;
  font-size: large;
}

.dashboard-input > input {
  width: 250px;
  height: 25px;
}

.dashboard-array {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.statisticsarray {
  display: inline;
  margin-right: 1px;
  border: 1px solid #34495e;
  padding: 10px;
}
.dashboard-tiles {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-card {
  line-height: 3em;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
  height: auto;
}
@media (min-width: 1024px) {
  .sidebar {
    min-width: 400px;
  }
}
